<h1>New producto</h1>

<% form_for(@producto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :empresa %><br />
    <%= f.text_field :empresa %>
  </p>
  <p>
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </p>
  <p>
    <%= f.label :ahno %><br />
    <%= f.date_select :ahno %>
  </p>
  <p>
    <%= f.label :precio %><br />
    <%= f.text_field :precio %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', productos_path %>
